# NetBeans
build/
dist/
nbbuild/
nbdist/
.nb-gradle/
.nb-gradle-properties

# Archivos de configuración personal
nbproject/private/
*.user

# Archivos compilados
*.class
*.war
*.ear
*.jar

# Logs
*.log

# Archivos temporales
*.tmp
*.temp

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml
.vscode/
/TP6_EyoBartl/nbproject/private/
/TP7_EyoBartl/nbproject/private/
